/*Resetting CSS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Header 1 Welcome header*/
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

/*Header 2 all other headers*/
h2 {
    text-align: center;
    font-size: 30px;
    text-shadow: darkgray;
    opacity: 60%;
}

/*Header 3 contact header*/
h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
}
/*paragraph about me*/
p {
    text-align: center;
    font-size: 20px;
}

/*Navigation bar*/

.navbar {
    background-color: gray;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}
/*Navigation list*/

.nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
/*listed items in the navigation list*/

.nav-list .list-item {
    display: inline-block;
    padding: 15px 12px;
    border-top: 1px solid black;
}


.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    color: green;
}
.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

@media all and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .nav-list {
        display: none;
    }
    .nav-list .list-item {
        display: block;
    }
}

.active {
    display: block;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: green;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: white;
  }
  /*List of skills*/
.skills .list-item {
    text-decoration: none;
    align-items: right;
    font-size: 17px;
    display: inline-block;
    padding-left: 150px;
}

.projects .project-list {
    float: center;
    padding-left: 400px;
}

.projects .project-list img {
    width: 500px;
    height: auto;

}
.projects p {
    text-align: center;
    font-size: 17px;
    padding-left: 150px;
    padding-right: 150px;
}

/*Animation for Welcome header*/
.animation {
    animation-duration: .2;
    animation-name: bounceIn;
    width: 100%;
    height: 720px;
  }
.icons {
    text-align: center;

}
.fa-brands {
    color: black;
}
.fa-solid {
    color: black;
}
#Aboutme, #Skills {
    width: 100%;
    height: 720px;
}

