/*Resetting CSS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Navigation bar*/

.navbar {
    background-color: gray;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}
/*Navigation list*/

.nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
}
/*listed items in the navigation list*/

.nav-list .list-item {
    display: block;
    padding: 15px 12px;
    border-top: 1px solid black;
}


.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    color: green;
}
.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
.active {
    display: block;
}